<h1>Entradas</h1>

<div class="portlet box gold">
  <div class="portlet-title">
    <div class="caption">Datos</div>
    <div class="tools">
      <a class="collapse" href="javascript:;"></a>
      <a class="config" data-toggle="modal" href="#portlet-config"></a>
      <a class="reload" href="javascript:;"></a>
      <a class="remove" href="javascript:;"></a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table table-hover">
  <thead>
    <tr>
      <th>Consumidor</th>
      <th>Evento</th>
      <th>Publicación</th>
      <th>Regalo</th>
      <th>Fecha</th>

    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.customer.name %></td>
        <td><%= entry.event.name if !nil? %></td>
        <td><%= "#{entry.post}" %></td>
        <td><%= entry.gift %></td>
        <td><%= entry.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
      </table>
    </div>
  </div>
</div>

<br>

