<%= form_for(@gift) do |f| %>
  <% if @gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% @gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nombre' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label 'Disponibles Actualmente' %><br>
    <%= f.number_field :inventory, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label 'Presupuestados' %><br>
    <%= f.number_field :predicted, class: 'form-control'  %>
  </div>
    <br/>
  <div class="field">

    <%= f.label 'Prioridad' %><br>

    <% if !@gift.priority.blank? %>
        <p><b>Actual:</b> <%= @gift.priority %></p>
    <% end %>
    <small>1/x = Regalos de alto costo (1 Cada x cantidad)</small>
    <br/>
    <small>1 = Regulares</small>
    <br/>
    <small>2 = Regalos de salida alta</small>
    <br/>
    <br/>
    <%= f.select :priority, options_for_select([1, 2, 3, ["1/6 (6)", 6], ["1/8 (8)", 8], ["1/10 (10)", 10], ["1/15 (15)", 15]]), {}, class: 'form-control' %>

  </div>
    <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
