<%= form_for(@gift) do |f| %>
  <% if @gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% @gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nombre' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label 'Disponibles Actualmente' %><br>
    <%= f.number_field :inventory, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label 'Presupuestados' %><br>
    <%= f.number_field :predicted, class: 'form-control'  %>
  </div>
    <br/>
  <div class="field">

    <%= f.label 'Prioridad' %><br>
    <small>
      0 = Es para regalos como el TIN</small>
    <br/>
      <small>1 = Es para los que aceptaron el reto</small>
    <br/>
    <small>2 = Regalos normales / Regulares</small>
    <br/>
    <small>3 = Regalos de salida alta</small>
    <br/>
    <br/>
    <%#= f.number_field :priority, class: 'form-control'  %>
    <%= f.select :priority, options_for_select([0, 1, 2, 3]), {}, class: 'form-control' %>

  </div>
    <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
