<div class="row">
<div class="col-md-12">
<%= form_tag({action: :creating_gifts}) do %>
<h1>Generar Regalos</h1>
    <hr/>
      <p>Inserte en cada regalo la cantidad disponible para este evento. Cada </p>
      <small class="red">***Sólo digitar números</small>
      <br/>
<br/>
    <%= hidden_field_tag :event_id, params[:event_id] %>
  <div class="row">
      <div class="col-md-6 field">
        <%= label_tag 'Chivas Flask' %><br>
        <%= text_field_tag 'gifts[flask]', 0, class: 'form-control' %>
      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Chivas Glasses' %><br>
        <div class="row">
            <div class="col-md-6"><%= text_field_tag 'gifts[glasses]',0, class: 'form-control' %></div>
            <div class="col-md-6"><%= text_field_tag 'gifts[glasses1]',0, class: 'form-control' %></div>
        </div>
      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Acceso a Fiestas Fin de Año' %><br>
        <div class="row">
          <div class="col-md-3"><%= text_field_tag 'gifts[fiesta]',0, class: 'form-control' %></div>
          <div class="col-md-3"><%= text_field_tag 'gifts[fiesta1]',0, class: 'form-control' %></div>
          <div class="col-md-3"><%= text_field_tag 'gifts[fiesta2]',0, class: 'form-control' %></div>
          <div class="col-md-3"><%= text_field_tag 'gifts[fiesta3]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Chivas 50 ml' %><br>
        <div class="row">
          <div class="col-md-6"><%= text_field_tag 'gifts[ml]',0, class: 'form-control' %></div>
          <div class="col-md-6"><%= text_field_tag 'gifts[ml1]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Chivas Work Kit' %><br>
        <div class="row">
          <div class="col-md-4"><%= text_field_tag 'gifts[kit]',0, class: 'form-control' %></div>
          <div class="col-md-4"><%= text_field_tag 'gifts[kit1]',0, class: 'form-control' %></div>
          <div class="col-md-4"><%= text_field_tag 'gifts[kit2]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Chivas Catas' %><br>
        <div class="row">
          <div class="col-md-3"><%= text_field_tag 'gifts[catas]',0, class: 'form-control' %></div>
          <div class="col-md-3"><%= text_field_tag 'gifts[catas1]',0, class: 'form-control' %></div>
          <div class="col-md-3"><%= text_field_tag 'gifts[catas2]',0, class: 'form-control' %></div>
          <div class="col-md-3"><%= text_field_tag 'gifts[catas3]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Chivas 12 años Tin 750ml' %><br>
        <%= text_field_tag 'gifts[tin]',0, class: 'form-control' %>
      </div>
  </div>
      <div class="row">
          <div class="col-md-12 field">
            <%= submit_tag 'Crear' %>
          </div>
      </div>
</div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[

    $('#gifts_glasses').click(function() {


    });

    //]]>
</script>