<div class="row">
<div class="col-md-12">
<%= form_tag({action: :creating_gifts}) do %>
<h1>Generar Regalos</h1>
    <hr/>
      <p>Inserte en cada regalo la cantidad disponible para este evento. Cada </p>
      <br/>
<br/>
    <%= hidden_field_tag :event_id, params[:event_id] %>
  <div class="row">
    <div class="col-md-6 field">
      <%= label_tag 'Gorra' %><br>
      <div class="row">
        <div class="col-md-3"><%= number_field_tag 'gifts[gorra]',0, class: 'form-control' %></div>
        <div class="col-md-3"><%= number_field_tag 'gifts[gorra1]',0, class: 'form-control' %></div>
      </div>
    </div>
    <div class="col-md-6 field">
      <%= label_tag 'Chivas 12 años 50ml' %><br>
      <div class="row">
        <div class="col-md-3"><%= number_field_tag 'gifts[ml]',0, class: 'form-control' %></div>
        <div class="col-md-3"><%= number_field_tag 'gifts[ml1]',0, class: 'form-control' %></div>
        <div class="col-md-3"><%= number_field_tag 'gifts[ml2]',0, class: 'form-control' %></div>
      </div>
    </div>
      <div class="col-md-6 field">
        <%= label_tag 'Selfie Stick' %><br>
        <div class="row">
        <div class="col-md-3"><%= number_field_tag 'gifts[selfie]',0, class: 'form-control' %></div>
        <div class="col-md-3"><%= number_field_tag 'gifts[selfie1]',0, class: 'form-control' %></div>
        </div>
      </div>

      <div class="col-md-6 field">
        <%= label_tag 'PowerBank' %><br>
        <div class="row">
          <div class="col-md-3"><%= number_field_tag 'gifts[power]',0, class: 'form-control' %></div>
          <div class="col-md-3"><%= number_field_tag 'gifts[power1]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Travel Set' %><br>
        <div class="row">
          <div class="col-md-4"><%= number_field_tag 'gifts[travel]',0, class: 'form-control' %></div>
          <div class="col-md-4"><%= number_field_tag 'gifts[travel1]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-6 field">
        <%= label_tag 'Speaker' %><br>
        <div class="row">
          <div class="col-md-4"><%= number_field_tag 'gifts[speaker1]',0, class: 'form-control' %></div>
          <div class="col-md-4"><%= number_field_tag 'gifts[speaker2]',0, class: 'form-control' %></div>
        </div>

      </div>

  </div>
      <div class="row">
          <div class="col-md-12 field">
            <%= submit_tag 'Crear' %>
          </div>
      </div>
</div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[

    $('#gifts_glasses').click(function() {


    });

    //]]>
</script>