<div class="row">
<div class="col-md-12">
<%= form_tag({action: :creating_gifts}) do %>
<h1>Generar Regalos</h1>
    <hr/>
      <p>Cada regalo tiene un campo que representa la posicion en la ruleta. Si tiene dos campos, es porque aparece dos veces en la ruleta. Etc. </p>
      <br/>
<br/>
    <%= hidden_field_tag :event_id, params[:event_id] %>
  <div class="row">
    <div class="col-md-3 field">
      <%= label_tag 'Power Banks' %><br>
      <div class="row">
        <div class="col-md-6"><%= number_field_tag 'gifts[power1]',0, class: 'form-control' %></div>
        
      </div>
    </div>
    <div class="col-md-3 field">
      <%= label_tag 'Tumblers' %><br>
      <div class="row">
        <div class="col-md-6"><%= number_field_tag 'gifts[tumblers1]',0, class: 'form-control' %></div>

      </div>
    </div>
      <div class="col-md-3 field">
        <%= label_tag 'Pocket Knife' %><br>
        <div class="row">
        <div class="col-md-6"><%= number_field_tag 'gifts[pocket1]',0, class: 'form-control' %></div>

        </div>
      </div>

      <div class="col-md-3 field">
        <%= label_tag 'Selfie Stick' %><br>
        <div class="row">
          <div class="col-md-6"><%= number_field_tag 'gifts[selfie1]',0, class: 'form-control' %></div>
          
        </div>

      </div>
      <div class="col-md-3 field">
        <%= label_tag 'Earbuds' %><br>
        <div class="row">
          <div class="col-md-6"><%= number_field_tag 'gifts[earbuds1]',0, class: 'form-control' %></div>
        </div>

      </div>
      <div class="col-md-3 field">
        <%= label_tag 'Posavasos' %><br>
        <div class="row">
          <div class="col-md-6"><%= number_field_tag 'gifts[posavasos1]',0, class: 'form-control' %></div>
        </div>
      </div>
      <div class="col-md-3 field">
        <%= label_tag 'Gorras' %><br>
        <div class="row">
          <div class="col-md-6"><%= number_field_tag 'gifts[gorras1]',0, class: 'form-control' %></div>
        </div>
      </div>

  </div> <!-- ROW -->

      <div class="row">
          <div class="col-md-12 field">
            <br>
            <%= submit_tag 'Crear', class: 'btn btn-lg' %>
          </div>
      </div>
</div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[

    $('#gifts_glasses').click(function() {


    });

    //]]>
</script>