<h1>Listing gifts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Inventory</th>
      <th>Predicted</th>
      <th>Priority</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= gift.name %></td>
        <td><%= gift.inventory %></td>
        <td><%= gift.predicted %></td>
        <td><%= gift.priority %></td>
        <td><%= gift.event_id %></td>
        <td><%= link_to 'Show', gift %></td>
        <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
        <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift', new_gift_path %>
