<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nombres y Apellidos' %><br>
    <%= f.text_field :name, class: 'chivas-form' %>
  </div>
  <div class="field">
    <%= f.label 'Fecha de Nacimiento' %><br>
    <%= f.date_select :birth, class: 'chivas-form' %>
  </div>
  <div class="field">
    <%= f.label 'Cuidad' %><br>
    <%= f.text_field :city, class: 'chivas-form' %>
  </div>
  <div class="field">
    <%= f.label 'Móvil' %><br>
    <%= f.text_field :mobile, class: 'chivas-form' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'chivas-form' %>
  </div>
  <div class="field">
    <% options = ["Eventos Gastronómicos",
                  "Eventos Sociales",
                  "Fiestas o Conciertos",
                  "Catas",
                  "Torneos",
                  "Club de Descuentos o Regalos"]  %>
    <%= f.label 'Le gustaría participar en (seleccionar todas las que apliquen):' %><br>
    <% options.each do |o| %>
        <%= f.check_box :interest, class: 'form-control',o %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit {[class: 'btn btn-lg btn-black']} %>
  </div>
<% end %>
