<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nombres y Apellidos ' %><span class="red">*</span><br>
    <%= f.text_field :name, class: 'chivas-form', required: 'required' %>
  </div>
  <div class="field">
    <%= f.label 'Fecha de Nacimiento' %><span class="red">*</span><br>
    <%= f.date_select :birth, include_blank: true, start_year: 1940, end_year: 1999, class: 'chivas-form' %>
  </div>
  <div class="field">
    <%= f.label 'Ciudad' %><br>
    <%= f.text_field :city, class: 'chivas-form' %>
  </div>
  <div class="field">
    <%= f.label 'Móvil' %><br>
    <%= f.text_field :mobile, class: 'chivas-form' %>
  </div>
  <div class="field">
    <%= f.label :email %><span class="red">*</span><br>
    <%= f.email_field :email, class: 'chivas-form', required: 'required' %>
  </div>
  <div class="field">
    <%= f.label 'Algunos de sus intereses:' %><br>
    <input type="checkbox" value="Eventos Gastronómicos"> Eventos Gastronómicos<br>
    <input type="checkbox" value="Eventos Sociales"> Eventos Sociales<br>
    <input type="checkbox" value="Fiestas o Conciertos"> Fiestas o Conciertos <br/>
    <input type="checkbox" value="Catas"> Catas<br/>
    <input type="checkbox" value="Torneos"> Torneos<br/>
    <input type="checkbox" value="Club de Descuentos o Regalos"> Club de Descuentos o Regalos<br/> <br/>

    <%= f.text_field :interest, class: 'chivas-form' %>


  </div>
  <div class="actions">
    <%= f.submit {[class: 'btn btn-lg btn-black']} %>
  </div>
<% end %>

<%= javascript_tag do -%>

    $(document).ready(function(){
    $checks = $(":checkbox");
    $checks.on('click', function() {
    var string = $checks.filter(":checked").map(function(i,v){
    return this.value;
    }).get().join(", ");
    $('#customer_interest').val(string);
    });
    });


<% end -%>