<p id="notice"><%= notice %></p>

<p>
  <strong>Consumidor:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @customer.birth %>
</p>

<p>
  <strong>Móvil:</strong>
  <%= @customer.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>


<p>
  <strong>Fecha de activación:</strong>
  <%= @customer.created_at %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
