<%= form_tag({action: :publishing_post}, multipart: true) do %>
<div class="col-md-12">
  <div id="foto">
    <%= image_tag 'step-2.png', class: 'img-responsive img-center' %>
    <div class="center-block fondo-gris">
    <h1 class="mbottom text-hide">¡Muéstranos con quien brindas!</h1>
    <h1 class="mbottom">Take a Photo</h1>
    <div class="row">
      <div class="col-md-8 mleft form-upload mbottom">
        <%= file_field_tag :picture, capture: "camera", accept: "image/*", class: 'form-chivas' %>
      </div>
    </div>
      <div class="row">
        <%= link_to "javascript:;", id: 'b-foto' do %>
            <%= image_tag 'btn-continuar.png', class: 'img-responsive img-center' %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="tag" style="display: none;">
    <%= image_tag 'step-2.png', class: 'img-responsive img-center' %>
    <div class="center-block fondo-gris">
    <h1 class="mbottom text-hide">Tagea a tus amigos</h1>
    <h1 class="mbottom">Tag your friends</h1>
      <p>Selecciona por lo menos a tres de tus amigos.</p>
    <div id="hacker-list">
        <div class="overf-friend">
            <input class="search chivas-form" placeholder="Buscar Amigo" />
            <ul id="list_friend" class="list">
              <% @friends.each_with_index do |f, i| %>
                  <li id="friend<%= i %>" fb="<%= f['id'] %>">
                    <%= image_tag f['picture']['data']['url'] %>
                    <span class="nombre"><%= f['name'] %></span>
                  </li>
              <% end %>
            </ul>
        </div>
    </div>
        <%= link_to "javascript:;", id: 'b-tag' do %>
            <%= image_tag 'btn-continuar.png', class: 'img-responsive img-center' %>
        <% end %>
    </div>
  </div>

  <div id="post" style="display: none;">
    <%= image_tag 'step-3.png', class: 'img-responsive img-center' %>
    <div class="center-block fondo-gris">
    <h1 class="mbottom text-hide">Así lucirá tu publicación</h1>
    <h1 class="mbottom">Type your message</h1>
    <%= image_tag 'false.png', class: 'img-responsive img-center mbottom', id: 'preview' %>
    <%= text_field_tag :post, nil, class: 'chivas-form', placeholder: 'Type here text' %>
    <h4 id="mensaje-fb" class="mbottom text-hide"><%= "{current_customer.entry.post} @ChivasDominicana" %></h4>
    <%= link_to 'javascript:;', id: 'perm-fb' do %><%= image_tag 'btn-sharefb.png' %><% end %>
    <%= image_submit_tag 'btn-sharefb.png', id: 'share-fb', style: 'display:none;' %>

    </div>
  </div>


</div>

<% end %>
<script type="text/javascript" charset="utf-8">
    //<![CDATA[

    //Search for Listing Friend
    var options = {
        valueNames: [ 'nombre' ]
    };

    var hackerList = new List('hacker-list', options);

    //]]>
</script>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[
    //Working with friends
    //Id numericos
    //Cuando hagan clic en un li,
    //Obtener su id y crear el hidden con ese id y obteneiendo el valor del attr fb
    $('#list_friend').on("click", "li", function() {
        id = $(this).attr("id");
        fb = $(this).attr("fb");

        if ($(this).hasClass('active')){
            $('input#friends[id]').remove();
            $(this).removeClass('active');
        } else  {
            //Add input hidden for form
            $('<input>').attr({
                type: 'hidden',
                id: 'friends['+id+']',
                name: 'friends['+id+']',
                value: fb
            }).appendTo('#tag');
            //Agregar clase activo al listado clikeado
            $(this).addClass('active');
            //Agregar Nombres a preview
            $('<span>, '+ $(this).text()+'</span>').appendTo('#mensaje-fb');
        }
    });

    //Wizard
    $('#b-foto').click(function() {
        var im = $('#picture').val();
        if (im == ''){
            alert('Debe tomar una foto antes de continuar. \n Please choose a photo');
        } else {
            $( "#foto" ).slideUp( "fast" ),
            $( "#tag" ).slideDown( "fast" );
        }
    });

    $('#b-tag').click(function() {
    $( "#tag" ).slideUp( "fast" ),
    $( "#post" ).slideDown( "fast" );
    });


    //Preview Image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#picture").change(function(){
        readURL(this);
    });


    $(document).ready(function() {
        $.ajaxSetup({ cache: true });
        $.getScript('//connect.facebook.net/en_UK/all.js', function () {
            FB.init({
                appId: '<%= Facebook::APP_ID.to_s %>',
                cookie: true,
                xfbml: true,
                version: 'v2.1'
            });

            //FB.getLoginStatus(function (response) {
             //   if (response.status === 'connected') {
               //     console.log('The login is connected');
                 //   console.log(response);
                    //hide button for login in publish
                   // $('#perm-fb').hide('fast'),
                        //Show Submit buttom
                    //$('#share-fb').show('fast');

//                }
  //          });
        });

        //Asking Permision again
        $('#perm-fb').click(function() {
            permisions();

            //Hide Buttom
            $(this).hide('fast'),
            //Show Submit buttom
            $('#share-fb').show('fast');
        });


        function permisions() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    //console.log(response.authResponse.accessToken);
                    //Cargar PHoto
                    console.log('Autorizando para publicar');
                    //Taguear
                    //Mensaje que diga que ha sido publicado por log y front

                } else {
                    // The person is not logged into Facebook, so we're not sure if
                    // they are logged into this app or not.
                    console.log('Permisions not got it for Facebook or APP');
                }
            }, {scope: 'publish_actions, user_photos'});
        }


    });
    //]]>
    </script>


