<div id="ru">
<h1 class="mbottom text-hide"><%= image_tag 'tl-giraygana.png' %>¡Gira y Gana!</h1>
  <p>Gira la botella presionándola</p>
<div class="ruleta">
  <%= image_tag 'bottle.png', id: 'botella' %>
  <%= image_tag 'ruleta.png', id: 'ruleta' %>

</div>
</div>

<div id="win" style="display: none;">
  <h1 class="mbottom text-hide"><%= image_tag 'tl-felicidades.png' %>¡Felicidades!</h1>
  <div class="center-block fondo-gris">
    <div class="row">
        <div class="mitad"><%= image_tag "#{@win.image}", class: 'img-responsive img-left' %></div>
        <div class="mitad">
        <h1 class="mbottom">HAS GANADO</h1>
        <p class="mbottom"><%= @win.name %></p>
            <%= form_tag({action: :save_gift}) do %>
                <%= hidden_field_tag :gift_id, @win.id %>
                <%= image_submit_tag 'btn-continuar.png' %>
        <% end %>
        </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<%= javascript_tag do %>
    $('#botella').click(function() {
    var deg = <%= @win.position + 3600 %>;
    var css = '-webkit-transform: rotate(' + deg + 'deg);';
    $(this).attr('style', css);

    setTimeout(function(){
    $( "#ru" ).slideUp( "fast" ),
    $( "#win" ).slideDown( "fast" );
    }, 12000);
    });


<% end %>
<script type="text/javascript" charset="utf-8">
    //<![CDATA[
    $(document).ready(function() {
        //$('body.mobile').attr("onload", "javascript: window.close();")
        //window.close();
    });

    //]]>
</script>
