<!-- BEGIN TOP NAVIGATION MENU -->
<ul class="nav navbar-nav pull-right">
  <li><%= link_to 'Ir a Portada', '/' %></li>
  <% if user_signed_in? %>
<!-- BEGIN USER user DROPDOWN -->
<li class="dropdown user">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <%= image_tag "admin/avatar.png", width: 29, height: 29 %>
    <span class="username"><%= "#{current_user.email}" if user_signed_in? %></span>
    <i class="icon-angle-down"></i>
  </a>
  <ul class="dropdown-menu">
    <li style="display: none;">
      <%= link_to 'edit_user_registration_path' do %>
          <i class="icon-user"></i> Mi Perfil
      <% end %>

    </li>

    <li class="divider"></li>
    <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Pantalla Completa</a>
    </li>
    <li>
      <%#= link_to(salir_path, remote: true) do %>
      <%= link_to(destroy_user_session_path, method: :delete) do %>
          <i class="icon-key"></i> Salir
      <% end %>
    </li>

  </ul>
</li>
<% end %>
<!-- END USER user DROPDOWN -->

    </ul>
  </li>


</ul>
<!-- END TOP NAVIGATION MENU -->